Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     4
TabWidth:        4
ContinuationIndentWidth: 4
AccessModifierOffset: -1  # The private/protected/public has no indent in class
Standard:  Cpp11
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false

ColumnLimit: 100
